.container {
    width: 100%!important;
}

button[title="open the command palette"] {
    display: none;
}

#menubar {
    visibility: hidden;
    display: none;
}

#header-container{
    visibility: hidden;
    display: none;
}
